<!-- Hero Section -->
<section class="hero text-center bg-light py-5">
  <div class="container">
    <h1 class="display-4">Sobre la Biblioteca Lidenbrok</h1>
    <p class="lead">
      Explora el mundo del conocimiento y la imaginación con nosotros.
    </p>
  </div>
</section>

<!-- Our Story Section -->
<section class="py-5">
  <div class="container">
    <h2 class="text-center">Nuestra Historia</h2>
    <p class="lead text-center">
      Fundada en 1923, la biblioteca Lidenbrok ha sido un pilar de la comunidad
      durante casi un siglo, proporcionando acceso a información y recursos
      educativos para personas de todas las edades.
    </p>
    <div class="text-center">
      <img
        src="https://th.bing.com/th/id/OIG..9XSYotyhwNFR5OsanaK?pid=ImgGn"
        alt="Imagen sobre nuestra historia"
        class="img-fluid rounded-circle mt-3"
        style="max-width: 300px"
      />
    </div>
  </div>
</section>

<!-- Our Services Section -->
<section class="our-services py-5">
  <div class="container">
    <h2 class="text-center">Nuestros Servicios</h2>
    <div class="services row">
      <div class="col-md-4 text-center">
        <i class="fa-solid fa-book"></i>
        <h4>Prestamos de Libros</h4>
        <p>
          Elige entre nuestra amplia colección de libros y lleva a casa tus
          favoritos.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fa-solid fa-calendar"></i>
        <h4>Eventos Comunitarios</h4>
        <p>
          Organizamos eventos regulares, incluyendo lecturas de autores, clubes
          de libros y talleres educativos.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fa-solid fa-circle-question"></i>
        <h4>Asistencia para Investigación</h4>
        <p>
          Nuestro personal está a tu disposición para ayudarte a encontrar la
          información que necesitas, ya sea para fines académicos o de interés
          personal.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Contact Us Section -->
<section class="py-5 contact-section">
  <div class="container">
    <h2 class="text-center contact-heading">
      <i class="fa-solid fa-phone"></i> Contáctanos
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="name" class="contact-label"
              ><i class="fa-solid fa-user"></i> Nombre</label
            >
            <input type="text" id="name" class="form-control contact-input" />
          </div>
          <div class="form-group">
            <label for="email" class="contact-label"
              ><i class="fa-solid fa-envelope"></i> Email</label
            >
            <input type="email" id="email" class="form-control contact-input" />
          </div>
          <div class="form-group">
            <label for="message" class="contact-label"
              ><i class="fa-solid fa-pencil"></i> Mensaje</label
            >
            <textarea
              id="message"
              class="form-control contact-input"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary contact-button">
            <i class="fa-solid fa-paper-plane"></i> Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
