<nav class="nav">
    <i class="fas fa-bars navOpenBtn"></i>
    <a href="#" class="logo">Codinglab</a>

    <ul class="nav-links">
        <i class="fas fa-times navCloseBtn"></i>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>

    <i class="fas fa-search search-icon" id="searchIcon"></i>
    <div class="search-box">
        <i class="fas fa-search search-icon"></i>
        <input type="text" placeholder="Search here...">
    </div>
</nav>