<nav class="navbar">
  <div class="logo">
    <a href="">
      <img src="https://th.bing.com/th/id/OIG.2_6Nx2W_KyZUpyFKGLqM?pid=ImgGn" alt="" class="img-logo">
    </a>
    <a href="">
      <h1 href="">Lidenbrok</h1>
    </a>
  </div>

  <div class="menu-container">
    <ul class="items" [class.active]="menuActive">
      <li class="nav-item"><a href="home">Home</a></li>
      <li class="nav-item"><a href="list">Libros</a></li>
      <li class="nav-item"><a href="services">Servicios</a></li>
      <li class="nav-item"><a href="about">Sobre nosotros</a></li>
      <li class="nav-item cuenta" *ngIf="isAuthenticated"><a href="cuenta">Mi Cuenta</a></li>
      <li class="nav-item cuenta" *ngIf="isAuthenticated && (userRol === 'admin')">
        <a href="admin">Admin</a>
      </li>
      <li class="nav-item login" *ngIf="!isAuthenticated"><a href="login">Inicia Sesión</a></li>
      <li class="nav-item login" *ngIf="isAuthenticated" (click)="logout()"><a href="#">Cerrar Sesión</a></li>
    </ul>
    <i class="fa-solid fa-bars menu-icon" (click)="toggleMenu()" *ngIf="!menuActive"></i>
    <i class="fa-solid fa-x menu-icon" (click)="toggleMenu()" *ngIf="menuActive"></i>
  </div>
</nav>
