<!-- Hero Section -->
<section class="hero text-center bg-light py-5">
  <div class="hero-cont container">
    <h1 class="display-4">Servicios en la Biblioteca Lidenbrok</h1>
    <p class="lead">
      Explora el mundo del conocimiento y la imaginación con nosotros.
    </p>
  </div>
</section>

<!-- Servicios Section -->
<section class="services-section py-5">
  <div class="container">
    <h2 class="text-center services-heading mb-5">Nuestros Servicios</h2>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card service-card">
          <img
            src="https://th.bing.com/th/id/OIG.GzzbChiZDyV3_AQUpy_E?pid=ImgGn"
            class="card-img-top"
            alt="Actividades Físicas"
          />
          <div class="card-body">
            <h5 class="card-title">Actividades Físicas</h5>
            <p class="card-text">
              Ofrecemos una variedad de actividades físicas, desde yoga hasta
              entrenamiento de fuerza, para ayudar a mantener tu cuerpo en
              forma.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card service-card">
          <img
            src="https://th.bing.com/th/id/OIG.NAI09OzvJdv02w4oe9iF?pid=ImgGn"
            class="card-img-top"
            alt="Asesorías Académicas"
          />
          <div class="card-body">
            <h5 class="card-title">Asesorías Académicas</h5>
            <p class="card-text">
              Nuestro equipo de expertos te ayudará a mejorar tus habilidades
              académicas y alcanzar tus objetivos educativos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card service-card">
          <img
            src="https://th.bing.com/th/id/OIG.H8S4V6.7.EwMy1zQ9GTS?pid=ImgGn"
            class="card-img-top"
            alt="Clubes de Lectura"
          />
          <div class="card-body">
            <h5 class="card-title">Clubes de Lectura</h5>
            <p class="card-text">
              Únete a nuestros clubes de lectura y disfruta de interesantes
              discusiones sobre una amplia gama de libros.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-4">
        <div class="card service-card">
            <a href="/">
                <img
                  src="https://th.bing.com/th/id/OIG.dimZ2iS7G1EAiUYFpesv?pid=ImgGn"
                  class="card-img-top"
                  alt="Videojuegos"
                />
                <div class="card-body">
                  <h5 class="card-title">Videojuegos</h5>
                  <p class="card-text">
                    Disfruta de nuestros torneos de videojuegos y compite con otros
                    entusiastas de los juegos.
                  </p>
                </div>
            </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card service-card">
          <img
            src="https://th.bing.com/th/id/OIG.JYYuxCKwBBNJ8j2mdYqd?pid=ImgGn"
            class="card-img-top"
            alt="Películas"
          />
          <div class="card-body">
            <h5 class="card-title">Películas</h5>
            <p class="card-text">
              Asiste a nuestras proyecciones de películas y eventos temáticos de
              cine.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card service-card">
          <img
            src="https://th.bing.com/th/id/OIG.PiOmP0JbMw1HOSRb8lI3?pid=ImgGn"
            class="card-img-top"
            alt="Otros Servicios"
          />
          <div class="card-body">
            <h5 class="card-title">Otros Servicios</h5>
            <p class="card-text">
              También ofrecemos una variedad de otros servicios personalizados
              para satisfacer tus necesidades.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
