.hero {
    background-image: url('https://th.bing.com/th/id/OIG.jqf8lwgEcSz60tIZHCWD?pid=ImgGn');
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top -30px;
    margin-bottom: 25px;
}

.hero h1,
.hero p {
    text-shadow: -1px -1px 2px #ffffff;
}

.hero-cont {
    background-color: #ffffff75;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.service-card {
    transition: all 0.2s ease-in;
}

.service-card:hover {
    scale: 1.07;
    cursor: pointer;
}

.services-section {
    background-color: #f8f9fa;
}

.services-heading {
    color: #6c757d;
    margin-bottom: 1.5rem;
}

.service-card {
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.service-card .card-title {
    color: #6c757d;
    font-weight: bold;
}

.service-card .card-text {
    color: #6c757d;
}