.container {
    margin-top: 20px;
}

/* SPINNER */
.loader {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}


a {
    text-decoration: none;
    color: inherit;
}

.author-name {
    color: rgb(77, 76, 76);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer div {
    display: flex;
    flex-direction: column;
}

.fa-heart {
    font-size: 1.5rem;
}

.heart {
    color: rgb(197, 30, 30);
}

.fa-heart:hover {
    cursor: pointer;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    transition: all 0.3s;
    /* Agregar transición para suavizar el cambio de tamaño */
    height: 100%;
    object-fit: cover;
}

/* .card:hover .card-img-top {
    height: 80%;
} */

.card-body {
    height: 60%;
    /* Establecer una altura para el cuerpo de la tarjeta */
    overflow: hidden;
    /* Ocultar el contenido que exceda la altura establecida */
}

.card-body p {
    margin-bottom: 0;
    /* Eliminar el margen inferior del texto del cuerpo de la tarjeta */
}

.sinopsis {
    display: none;
    transition: all 0.3s ease;
}

.red {
    color: red;
    margin-top: 5px;
}

.green {
    color: green;
    margin-top: 5px;
}